.menu-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 0.9%;
    margin-bottom: 3%;
  }
  
  .menu-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-bar li{
    display: inline-block;
  }
  
  .menu-options{
    justify-content: end;
    align-items: end;
  }
  
  .menu-bar li a {
    display: block;
    padding: 10px 20px;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #333;
  }
  
  .menu-bar li a:hover {
    background-color: #ddd;
    text-decoration: underline;
  }

/*END MENU BAR*/

.sondertxt{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.yawa{
	width: 70%;
	padding-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 2%;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px; 
  padding-bottom: 10%;
}

.single-image {
  grid-column: span 2; 
  justify-content: center;
  height: auto;	
  margin-left: auto;
  margin-right: auto;
}

.firstImg{
	width:100%;
	max-width: 926px;
}

.secImg{
	max-width: 441px;
}

.thirdImg{
  
	max-width:406px;
	margin-right: auto;
    margin-left: auto;
}

.double-image {
  display: flex;
 
  margin-left: 8%;
  gap: 9%;
}

.fourthImg{
	max-width:938px;
	width: 100%;
}

.fifthImg{
	max-width: 938px;
	width: 100%;
	
}

.sixthImg{
	max-width:938px;
	width: 100%;
	
}

.footer{
    display: inline;
    text-align: center;
    font-family: 'Oswald', sans-serif;
  }
  
  .footer a{
    text-decoration: none;
    color:inherit;
  }
  
  .footer a:hover{
    text-decoration: underline;
  }
  

  @media screen  and (max-width: 420px) {

      .secImg, .thirdImg{
        max-width: 100px;
        max-height: 500px;
      }

      .fifthImg, .sixthImg{
        max-width: 400px;
      }

      .sondertxt{
        font-size: clamp(0.375rem, -0.4205rem + 6.3636vw, 1.25rem);
      }
    
      

  .menu-bar li a {
   
   font-size: clamp(0.375rem, 0.0341rem + 2.7273vw, 0.75rem);

  }

  .footer a{
    font-size: clamp(0.375rem, 0.0341rem + 2.7273vw, 0.75rem);
  }
  
 
}
  
